// !Don't Use SCSS or SASS Variables, use the CSS Variables instead

:root {
  --primary-text: hsl(0deg, 0%, 31%); // #4F4F4F
  --secondary-text: hsl(0deg, 0%, 51%); // #828282
  --accent-color: hsl(11deg, 84%, 56%); // #2F80ED
}
